@import '../scss/abstracts/mixins';
.dashboard {
  background: #fffaf2;
  background-image: url('../assets/icons/bg.png');
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
  padding-top: 70px;
  padding-bottom: 180px;
  background-size: cover;
  height: 130vh;
  @include screen-phone {
    padding-bottom: 40px;
  }
  .left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
